* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

header {
    background-color: #fff;
}

header #header-logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    padding: 25px 15px 30px;
}

#header-logo-search a {
    color: #f44336;
    font-size: 1.2em;
}

#header-logo-search a span {
    font-size: 1.3em;
    font-weight: 400;
}

#header-logo-search .logo i {
    margin-right: 15px;
    color: #f44336;
}

#header-logo-search .logo-search {
    color: #757575;
}

nav {
    width: 100%;
    height: 38px;
    background-color: #000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    line-height: 2;
}

nav ul li {
    padding: 3px 12px;
}

nav ul li a {
    color: #fff;
}

.active {
    background-color: #f44336;
}

nav ul li i {
    margin-right: 16px;
}

.travel {
    width: 100%;
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
}

.travel h1 {
    margin-bottom: 16px;
    font-size: 1.5em;
}

.travel input {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 12px 10px;
    border: 1px solid #ccc;
}

.travel button {
    width: 65%;
    height: 40px;
    margin-top: 14px;
    margin-bottom: 30px;
    padding: 14px 14px;
    font-size: 15px;
    line-height: 10px;
    background-color: #616161;
    color: #fff;
}

main {
    padding: 72px 16px 0 16px;
    margin-bottom: 30px;
}

main h2 {
    font-size: 1.5em;
}

main p {
    margin-top: 22px;
}

main section p strong {
    font-weight: bold;
}

.good-offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.good-offers div img {
    width: 286px;
    height: 220px;
}

.good-offers div {
    position: relative;
    margin-top: 12px;
}

.good-offers div span {
    position: absolute;
    top: 190px;
    left: 16px;
    color: #fff;
}

.explore {
    padding-top: 30px;
}

.explore div {
    background-color: #fff;
}

.explore div h2 {
    margin-bottom: 18px;
}

.explore div h3 {
    margin-bottom: 18px;
    font-size: 0.85em;
    color: #666;
}

.explore p {
    font-size: 0.96em;
    margin-bottom: 18px;
}

.explore button {
    margin-left: 16px;
    background-color: #fff;
    font-size: 15px;
}

.explore .container-explore {
    padding: 18px 18px 26px 18px;
}

.explore .container-block {
    margin-top: 16px;
}

.explore .container-block p {
    margin-bottom: 30px;
}

section .get-offers {
    margin-top: 34px;
    padding: 34px 16px 16px 16px;
    background-color: #606060;
    color: #fff;
}

section .get-offers h2 {
    font-size: 1.8em;
    font-weight: 500;
    line-height: 1.5;
}

section .get-offers p {
    margin-bottom: 24px;
}

section .get-offers input[type="email"] {
    width: 100%;
    padding: 11px;
    margin-top: 4px;
}

section .get-offers button {
    margin-top: 18px;
    padding: 12px 18px;
    font-size: 15px;
    background-color: #f38981;
    color: #fff;
}

section .contact {
    margin-top: 36px;
}

section .contact h2 {
   margin-bottom: 22px; 
}

section .contact p {
    margin-bottom: 24px;
    font-size: 0.9em;
}

section .contact ul li {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

section .contact ul li:last-child {
    margin-bottom: 0;
}

section .contact ul li i {
    margin-right: 18px;
}

section .contact input[type="text"], input[type="email"] {
    width: 100%;
    margin-top: 16px;
    padding: 18px 8px;
    border:  1px solid #ccc;
}

section .contact input[type="submit"] {
    width: 56%;
    padding: 14px 0 14px 0;
    margin-top: 16px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.95em;
}

footer {
    display: flex;
align-items: center;
    flex-direction: column;
}

footer ul {
    display: flex;
    margin: 38px 0 38px 0;
}

footer ul li {
    margin-right: 6px;
    font-size: 19px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: #606060;
}

footer p {
    padding-bottom: 36px;
}
/* 450px */
@media (max-width: 450px) {
    nav ul li {
        width: 100%;
    }

    .travel button {
        width: 45%;
    }

    main {
        padding-top: 46px;
    }

    main section p {
        margin-top: 14px;
    }

    .good-offers div img {
        width: 100%;
        height: auto;
    }

    .good-offers div span {
        top: 280px;
        font-size: 18px;
    }

    section .get-offers input[type="email"] {
        padding: 12px;
    }

    section .contact h2 {
        font-weight: 400;
        font-size: 28px;
    }

    section .contact input[type="submit"] {
        width: 40%;
    }

    .explore {
        padding-top: 24px;
    }

    main .explore p {
        margin-top: 20px;
    }

    .explore button {
        font-size: 16px;
    }

    .explore div h3 {
        font-size: 0.96em;
    }

    .explore .container-block p {
        font-size: 16px;
    }
}